<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Formulario Completado!</title>
    {% load static %}  <link rel="stylesheet" href="{% static 'css/confirmacion_estilo.css' %}">

</head>
<body>
    <div class="confirmacion-container">
        <div class="confirmacion-header">
            <span class="emoji">✅</span>
            <h1>¡Perfecto!</h1>
        </div>
        <div class="confirmacion-body">
            <p>La Historia Clínica Músculo Esquelética del paciente ha sido guardada con éxito. 🎉</p>
            <p>Todo está en orden y listo para que lo revises. ¡Excelente trabajo!</p>
        </div>
        <div class="confirmacion-footer">
            <a href="{% url 'historia_clinica_paciente_me' pk=paciente.pk %}" class="btn-confirmacion">
                Ver Historia Clínica
            </a>
        </div>
    </div>
</body>-me