
{# Pacientes/templates/cuestionario/historia_clinica_parte1.html #}
{% extends "BaseSinInicio.html" %}

{% block title %}Historia Clínica - Parte 1{% endblock %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/form_base.css' %}">
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/form_base.css' %}">
{% endblock %}

{% block content %}
<div class="contenedor formulario-wizard">
    <div class="header-presentacion">
        <h2 class="titulo-paso">{{ step_title }}</h2>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        
        <div class="form-body">
            <p>
                <label id ='campo' for="{{ form.motivo_consulta.id_for_label }}">Motivo de Consulta:</label>
                {{ form.motivo_consulta }}
            </p>
            <p>
                <label id ='campo' for="{{ form.comentarios.id_for_label }}">Comentarios:</label>
                {{ form.comentarios }}
            </p>
        </div>

        <div class="form-navigation">
            {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn-wizard btn-anterior">Anterior</button>
            {% endif %}

            <button type="submit" class="btn-wizard btn-siguiente">
                {% if wizard.steps.last %}
                    Terminar
                {% else %}
                    Siguiente
                {% endif %}
            </button>
        </div>
    </form>
</div>
{% endblock %}